 * {
   margin: 0;
   padding: 0;
 }

body{
  height: 100vh;
  background-color: #00000F;
}

.moviesContainer {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 5px;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none; // IE 10+
  overflow: -moz-scrollbars-none; // Firefox
}

.moviesContainer::-webkit-scrollbar {
display: none; // Safari and Chrome
}

.containerHome{
  margin-top: 7px;
  margin-bottom: 7px;
}

.containerHome h2{
  margin-bottom: 10px;
  margin-left: 15px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

header {
  position: sticky;
  height: 50px;
  top:0px;
  background-color: #2D2D37;
  align-items: center;
  z-index: 1;
  border-top: 4px solid #004ffc;
}

#navBar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  align-items: center;
}

#menu {
  display: flex;
  list-style-type: none;
  color:white;
  font-family: 'Comfortaa', cursive;
  height: 100%;
  align-items: center;
}

#menu li {
  margin-left: 40px;
  padding-bottom: 5px;
}

#menu li:hover{
  border-bottom: 1px solid #004ffc;
  color: #004ffc;
}

#searchBar{
  width: 30%;
  background-color: white;
  height: 55%;
  border-radius: 25px;
}

#searchInput {
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  width: 90%;
  height: 100%;
  padding-left: 10px;
  background: transparent;
  border: none;
  outline: none;
}

.movieTitle {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  margin-top: 15px;
}

.divMoviePoster {
  margin: 5px;
  color: white;
}

.divMoviePoster figure{
  overflow:hidden;
}

.divMoviePoster figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.divMoviePoster figure:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
/*
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    */
    background-image:linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9)),
                        url("");

    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-content {
    position: relative;
    top: 10%; /* 25% from the top */
    left:50%;
    width: 60%; /* 100% width */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    margin-left: -30%;
    color:white;
}



/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    padding: 8px;
    text-decoration: none;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

.overlay .closebtn:hover {
  color: #f1f1f1;
}

#detailsHeader {
  display: flex;
  justify-content: space-between;
}

#detailsPoster {
  width: 300px;
}

#movieInfos {
  width: 50%;
}

#movieInfos h1, h2 {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

#movieInfos h1 {
  margin-bottom: 50px;
}

#movieInfos h1 span{
  color: hsl(214, 7%, 40%);
  font-weight: lighter;
}

#movieInfos p{
  font-family: 'Comfortaa', cursive;
  line-height: 25px;
}
